<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crazydwarf.chimaeraqm.module_alipay">

    <application>
        <activity
            android:name="com.crazydwarf.module_alipay.RechargeAliActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>
