<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crazydwarf.chimaeraqm.module_alipay">


    <application
        android:name="com.crazydwarf.comm_library.activity.BaseApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/CurrentAppTheme">
        <activity
            android:name="com.crazydwarf.module_alipay.RechargeAliActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.crazydwarf.comm_library.activity.HistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
    </application>

</manifest>