<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chimaeraqm.module_wechatpay" >
    <application>
        <activity
            android:name="com.crazydwarf.module_wechatpay.RechargeWeActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>
